<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsj.goods.dao.ShopMapper">

 <resultMap type="Shop" id="shopResultMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    
    <!-- 封装多对多 -->
    <collection property="goods" ofType="good" select="selectsByShopId" column="id">
    
    </collection>
 </resultMap>

  <select id="selects" resultMap="shopResultMap">
      select * from  shop s
  </select>
  
  <select id="selectsByShopId" resultType="Good">
  
  select g.id,g.`name` from middle m LEFT JOIN goods g
   on m.gid =g.id where sid =#{sid} 
  
  </select>

	<select id="selectsGoods" resultType="Good">
		select * from goods
	</select>
</mapper>